body {
  font-family: 'Space Grotesk';
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 100px;
}

/* Color Schemes */
.dark {
  --one: black;
  --two: #191919;
  --three: #292929;
  --four: #393939;
  --text: #eceff4;
  --textf: #eceff48a;
}

.nord {
  --one: #2e3440;
  --two: #3b4252;
  --three: #434c5e;
  --text: #eceff4;
  --textf: #eceff48a;
}

.sepia {
  --one: #eadbcb;
  --two: #dcc1a7;
  --three: #e3ceb9;
  --text: black;
  --textf: #0000008a;
}

.light {
  --one: #eceff4;
  --two: #d8dee9;
  --three: #e5e9f0;
  --text: black;
  --textf: #0000008a;
}